@import url("utilities.css");
@import url("form.css");

@font-face {
  font-family: "AvenirRoman";
  src: url("../fonts/Avenir-Roman.otf") format("opentype");
}

body {
  color: #000;
  font-family: "AvenirRoman";
}

ul {
  list-style: none;
  padding-left: 0;
}

.container-fluid {
  max-width: 2369px;
}

.header .navbar .nav-link {
  color: #db473a;
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
  text-transform: uppercase;
}

.header .navbar .nav-link:hover {
  color: black;
}

.header #input-search {
  width: 255px;
}

.banner-main {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center center;
  height: 334px;
}

.nav-sub-container {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);

  min-height: 49px;
}

.nav-sub {
  justify-content: flex-start;
}

.nav-sub .nav-link {
  align-items: center;
  display: flex;
  color: #000000;
  font-size: 15px;

  text-transform: uppercase;
}

.nav-sub .nav-link.active {
  border-bottom: solid 2px #db473a;
}

.nav-link:hover {
  color: #db473a;
}

@media (min-width: 1200px) {
  .nav-sub-container {
    display: flex;
    justify-content: center;
  }

  .nav-sub {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  .nav-sub .nav-link {
    height: 100%;
    padding: 0;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 20px 0;
}

.breadcrumb-item {
  font-size: 14px;
  text-transform: uppercase;
}

.main-content .content-title-container {
  margin-bottom: 100px;
}

.main-content .content-title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 0;
}

.main-content .content-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 200;
  text-transform: uppercase;
}

.info-box {
  align-content: center;
  border: 1px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.info-box small {
  display: block;
  font-size: 18px;
  position: relative;
  top: -20px;
}

.info-box-extra b {
  font-weight: 700;
  font-size: 13px;
}

.top-info-container {
  margin-bottom: 100px;
  margin-top: 30px;
}

.top-info-container .info-box-list {
  display: flex;
  flex-wrap: wrap;
}

.top-info-container .info-box {
  height: 153px;
  margin: 10px 22px 10px 0;
  padding: 28px 20px;
  position: relative;
}

.top-info-container .info-box .title,
.top-info-container .info-box .value {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.top-info-container .info-box .title {
  font-size: 22px;
}

.top-info-container .info-box .title span {
  display: block;
  font-size: 17px;
  font-weight: normal;
  position: absolute;
  top: 10px;
}

.top-info-container .info-box .value-container {
  display: flex;
  justify-content: space-between;
}

.top-info-container .info-box .value {
  font-size: 35px;
}

.top-info-container .info-box .value-extra {
  align-items: center;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -10px;
}

.top-info-container .info-box .value-extra .icon {
  margin-right: 3px;
}

.top-info-container .label-info {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.info-container .row-info {
  border-bottom: 1px solid #cecece;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  padding: 44px 0;
  font-weight: 300;
}

.info-container .row-info > div[class^="col"] {
  margin-bottom: 15px;
}

.info-container .row-info .info-box {
  color: #000000;
  height: 267px;
  padding-top: 20px;
  text-align: center;
  width: 230px;
}

.info-container .row-info .info-box .title {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 15px;
}

.info-container .row-info .info-box .value-container {
  margin: 15px 0;
}

.info-container .row-info .info-box .value {
  font-size: 60px;
  font-weight: 900;
}

.info-container .row-info .info-box .value-desc {
  font-size: 22px;
  font-weight: 900;
}

.info-container .row-info .info-box .rate-container {
  margin-top: auto;
  margin-bottom: 10px;
  position: relative;
}

.info-container .row-info .info-box .rate {
  background-color: #fd7a41;
  height: 8px;
  width: 33px;
}

.info-container .row-info .info-box .rate.not-filled {
  background-color: transparent;
  border: solid 1px #fd7a41;
}

.info-container .row-info .title {
  color: #000000;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 25px;
}

.info-container .row-info .title-sm {
  color: #000000;
  font-size: 19px;
  font-weight: 900;
}

.info-container .row-info .similar-col li {
  color: #000;
  margin-bottom: 5px;
}

.info-container .row-info .col-title .label {
  font-size: 14px;
  margin-bottom: -5px;
}

.info-container .row-info .col-title .title-sm {
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.info-container .col-row-title {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.col-table .th {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.col-table .th.col-title {
  position: relative;
}

.col-table .th.col-title .calc-icon {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: -10px;
  top: 10px;
}

.col-table .title-sm-left {
  margin-bottom: -5px;
}

.col-table-affordability .value {
  font-size: 20px;
}

.col-table-affordability .value-pct,
.col-table-job-market .value-pct {
  font-size: 19px;
  font-weight: bold;
}

.col-table-affordability .value-pct .icon,
.col-table-job-market .value-pct .icon {
  height: 14px;
  margin-left: 5px;
  margin-right: -5px;
  width: 13px;
}

.col-table-affordability .value-pct-down,
.col-table-job-market .value-pct-down {
  color: #c30000;
}

.col-table-affordability .value-earnings {
  font-weight: bold;
  position: relative;
}

.col-table-affordability .value-earnings .icon {
  position: absolute;
  left: 60px;
  top: 0px;
}

.col-table-job-market .value-list small {
  color: grey;
  font-size: 12px;
  font-weight: 300;
}

.info-container .col-table-schools .col-title .title-sm {
  border-bottom: none;
  margin-bottom: -5px;
  padding-bottom: 0;
  text-align: center;
}

.info-container .col-table-schools .col-title .label {
  border-bottom: solid 1px #000;
  padding-bottom: 5px;
  text-align: center;
}

.info-container .col-table-schools .title-sm-sub {
  font-size: 16px;
}

.info-container .col-table-weather .value {
  color: #000;
}

.info-container .col-table-weather .attire-icons-col {
  display: flex;
  flex-direction: column;
}

.info-container .col-table-weather .attire-icons-col .pants-icon {
  position: relative;
  left: 6px;
}

.info-container .col-table-weather .attire-icons-col .shorts-icon {
  position: relative;
  left: 5px;
}

.info-container .col-table-weather .value {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.info-container .col-table-weather .value span {
  font-size: 14px;
}

@media (min-width: 1300px) {
  .info-container .row-info .col-table-seasons {
    position: relative;
    top: -30px;
  }
}

.info-container .row-info .col-table-seasons .title-sm {
  margin-bottom: 0;
  padding: 3px 0;
}

.info-container .row-info .col-table-seasons .text-red {
  color: #ed0000;
  font-size: 22px;
  font-weight: bold;
}

.info-container .row-info .col-table-seasons .text-gray {
  font-size: 15px;
}

.info-container .row-info .col-table-safety .col-title .title-sm {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.info-container .row-info .col-table-safety .col-title .label {
  border-bottom: solid 1px #000;
  margin-bottom: 5px;
}

.info-container .row-info .col-table-safety .frequency-title {
  font-size: 12px;
}

.info-container .row-info .col-table-safety .frequency-subtitle {
  font-size: 10px;
  text-align: center;
}

.info-container .col-table-safety .value {
  color: #000;
}

.info-container .col-table-safety .value .font-900 {
  margin-bottom: -10px;
}

.info-container .col-table-safety .progress {
  background-color: transparent;
  border: solid 1px black;
  border-radius: 0;
  height: 8px;
}

.info-container .col-table-safety .progress-bar {
  background-color: black;
}

.info-box-political .label-left,
.info-box-political .label-right {
  font-size: 14px;
  position: absolute;
  top: -20px;
}

.info-box-political .label-left {
  left: 15px;
}

.info-box-political .label-right {
  right: 15px;
}

.info-container .col-table-political .value {
  color: #000;
}

.info-container .col-table-political .value small {
  position: relative;
  top: -5px;
}

.info-container .col-table-political .circle {
  width: 30px;
  height: 30px;
  background: #d73636;
  border: solid 1px #c2c2c2;
  border-radius: 50%;
}

.info-container .col-table-political .circle.light-gray {
  background-color: #efefef;
}

.info-container .col-table-political .circle.dark-gray {
  background-color: #aaaaaa;
}

.info-container .col-table-political .circle.light-red {
  background-color: #e4c0c0;
}

.info-container .col-table-political .year {
  font-size: 12px;
  margin-bottom: 30px;
}

.info-container .col-table-political .col-elections .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info-container .col-table-political .election-legend {
  display: flex;
  position: relative;
}

.info-container .col-table-political .election-legend .bar {
  height: 11px;
  flex: 1;
  width: 50px;
}

.election-legend .gray {
  background-color: #95aacd;
}

.election-legend .light-gray {
  background-color: #dfe7fa;
}

.election-legend .light-red {
  background-color: #e4c0c0;
}

.election-legend .red {
  background-color: #c72b2b;
}

.info-container .col-table-political .election-legend .label {
  bottom: -24px;
  position: absolute;
}

.info-container .col-table-political .election-legend .label-left {
  left: 0;
}

.info-container .col-table-political .election-legend .label-right {
  right: 0;
}
