@font-face {
  font-family: "AvenirRoman";
  src: url("../../fonts/Avenir-Roman.otf") format("opentype");
}

body {
  color: #000;
  font-family: "AvenirRoman", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

ol {
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

/* MARGIN TOP */
.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-65 {
  margin-top: 65px;
}

/* MARGIN RIGHT */
.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-33 {
  margin-right: 33px;
}

/* MARGIN BOTTOM */
.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-58 {
  margin-bottom: 58px;
}

/* MARGIN LEFT */
.ml-10 {
  margin-left: 10px;
}

/* PADDING LEFT */
.pl-24 {
  padding-left: 24px;
}

.pl-38 {
  padding-left: 38px;
}

.pl-42 {
  padding-left: 42px;
}

.pl-56 {
  padding-left: 56px;
}

.pl-62 {
  padding-left: 62px;
}

.pl-110 {
  padding-left: 110px;
}

/* PADDING TOP */
.pt-16 {
  padding-top: 16px;
}

.pt-86 {
  padding-top: 86px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-135 {
  padding-top: 135px;
}

/* PADDING RIGHT */
.pr-38 {
  padding-right: 38px;
}

/* PADDING BOTTOM */
.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-40 {
  padding-bottom: 40px;
}

/* FONT */
.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

/* FONT WEIGTH */
.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}
.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

.text-black {
  color: #000;
}

.text-green {
  color: #3fb1b4;
}

.text-blue {
  color: #70a0ff;
}

.text-blue-light {
  color: #59baf9;
}

.text-blue-dark {
  color: #3b568d;
}

.text-gray {
  color: #616161;
}

.text-gray-light {
  color: #8e8b8b;
}

.text-gray-lighter {
  color: #959595;
}

.text-red {
  color: #ff7070;
}

.text-red-dark {
  color: #a00000;
}

.text-yellow {
  color: #f7c71f;
}

/* WIDTHS */
.w-20 {
  width: 20px;
}

.w-63 {
  width: 63px;
}

.w-80 {
  width: 80px;
}

.w-110 {
  width: 110px;
}

.w-140 {
  width: 140px;
}

.w-234 {
  width: 234px;
}

.w-287 {
  width: 287px;
}

.w-350 {
  width: 350px;
}

.w-354 {
  width: 354px;
}

.h-20 {
  height: 20px;
}

.lh-19 {
  line-height: 19px;
}

.lh-30 {
  line-height: 30px;
}

.lh-33 {
  line-height: 33px;
}

.lh-36 {
  line-height: 36px;
}

.table-separate-10 {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-separate-20 {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.border-gray {
  border-color: #969696 !important;
}

.border-gray-light {
  border-color: #d7d7d7 !important;
}

.option-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.164882);
  border-radius: 6px;
  display: flex;
  margin: 20px auto 100px;
  width: 981px;
}

.col-left {
  border-right: solid 1px #d2d2d2;
  padding: 40px 32px;
}

.col-right {
  flex: 1;
}

.category-label {
  color: #616161;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
}

.header {
  color: #70a0ff;
  font-size: 23px;
  font-weight: 900;
}

ol {
  counter-reset: item;
  list-style-type: none;
}

ol li {
  position: relative;
}

ol li:before {
  content: counter(item) "  ";
  counter-increment: item;
  left: -20px;
  position: absolute;
  font-weight: bold;
}

.icon-thumbs-up {
  align-items: center;
  background-color: #59baf9;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 38px;
  width: 38px;
}

.icon-thumbs-down {
  align-items: center;
  background-color: #e74061;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 38px;
  width: 38px;
}

.icon-cloud {
  background-image: url("../img/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.icon-sun {
  background-image: url("../img/sun.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.icon-rain {
  background-image: url("../img/rain.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.icon-snow {
  background-image: url("../img/snow.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.icon-pants {
  background-image: url("../img/pants.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 56px;
  width: 32px;
}

.icon-shorts {
  background-image: url("../img/shorts.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 35px;
  width: 42px;
}

.schools-title {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 16px;
  position: relative;
}

.schools-title:before {
  background-image: url("../img/hat.svg");
  background-size: contain;
  content: "";
  display: inline-block;
  height: 18px;
  left: -30px;
  top: -2px;
  position: absolute;
  width: 22px;
}

.school-link {
  color: #8e8b8b;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.progress {
  background-color: transparent;
  border-radius: 0;
}

.progress-bar {
  padding-left: 5px;
  text-align: left;
}

.progress-bar-green {
  background-color: #3fb1b4;
}

.progress-bar-blue {
  background-color: #70a0ff;
}

.progress-bar-gray {
  background-color: #bdbdbd;
}

.progress-bar-red {
  background-color: #ff7070;
}

.progress-v {
  display: flex;
  align-items: baseline;
  width: 36px;
}

.progress-v .progress-bar {
  padding-left: 0;
}

.month-bar {
  background-color: #3fb1b4;
  height: 13px;
  margin-left: 2px;
  margin-right: 2px;
}

.month-bar-sm {
  background-color: #3fb1b4;
  height: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

.month-bar-blue {
  background-color: #70a0ff;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.chart-container {
  height: 128px;
  margin: 0 auto 30px;
  width: 128px;
}

.chart-label .box {
  height: 12px;
  width: 12px;
}

.chart-label {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
}

.chart-label .box-green {
  background-color: #3fb1b4;
}

.chart-label .box-blue {
  background-color: #70a0ff;
}

.chart-label .box-red {
  background-color: #ff7070;
}

.chart-label .text {
  color: #616161;
  font-size: 12px;
  margin-left: 12px;
}

.numbers-group {
  border-left: 1px solid #a2a2a2;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px; */
  position: relative;
}

.numbers-group:before {
  background-color: #a2a2a2;
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
}

.numbers-group:after {
  background-color: #a2a2a2;
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7px;
}

.day-circle {
  background-color: #70a0ff;
  border-radius: 50%;
  height: 15px;
  margin-right: 3px;
  width: 15px;
}

.day-circle-empty {
  background-color: white;
  border: solid 1px #70a0ff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 16px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px #bebebe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: -12px;
  top: 2px;
  bottom: 4px;
  background-color: #bebebe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch input:checked + .slider {
  border-color: #70a0ff;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #70a0ff;
}

.switch input:checked + .slider:before {
  background-color: #70a0ff;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch-v {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 29px;
}

.switch-v .slider:before {
  left: -24px;
  top: 14px;
}

.switch-v input:checked + .slider:before {
  -webkit-transform: translate(26px, -12px);
  -ms-transform: translate(26px, -12px);
  transform: translate(26px, -12px);
}
