.input-label-absolute {
  position: relative;
}

.label-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #868e96;
}

.input-label-absolute-left .label-absolute {
  left: 0.7rem;
}

.input-label-absolute-left .form-control {
  padding-left: 2rem;
}
